In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
from matplotlib.patches import Rectangle

In [4]:
pd.read_csv('/workspaces/DataSets_CruzKimFranco/Data/Raw/vgsalesGlobale.csv')

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [3]:
pd.read_csv('/workspaces/DataSets_CruzKimFranco/Data/Raw/us_state_vaccinations.csv')

,date,location,total_vaccinations,total_distributed,people_vaccinated,people_fully_vaccinated_per_hundred,total_vaccinations_per_hundred,people_fully_vaccinated,people_vaccinated_per_hundred,distributed_per_hundred,daily_vaccinations_raw,daily_vaccinations,daily_vaccinations_per_million,share_doses_used,total_boosters,total_boosters_per_hundred
0,12/01/2021,Alabama,78134.0,377025.0,70861.0,0.15,1.59,7270.0,1.45,7.69,NaN,NaN,NaN,0.207,NaN,NaN
1,13/01/2021,Alabama,84040.0,378975.0,74792.0,0.19,1.71,9245.0,1.53,7.73,5906.0,5906.0,1205.0,0.222,NaN,NaN
2,14/01/2021,Alabama,92300.0,435350.0,80480.0,NaN,1.88,NaN,1.64,8.88,8260.0,7083.0,1445.0,0.212,NaN,NaN
3,15/01/2021,Alabama,100567.0,444650.0,86956.0,0.28,2.05,13488.0,1.77,9.07,8267.0,7478.0,1525.0,0.226,NaN,NaN
4,16/01/2021,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7498.0,1529.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47007,07/01/2023,Wyoming,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,167.0,289.0,NaN,NaN,NaN
47008,08/01/2023,Wyoming,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,161.0,278.0,NaN,NaN,NaN
47009,09/01/2023,Wyoming,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,155.0,268.0,NaN,NaN,NaN
47010,10/01/2023,Wyoming,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,150.0,259.0,NaN,NaN,NaN
47011,11/01/2023,Wyoming,847156.0,1246855.0,351894.0,52.97,146.37,306545.0,60.80,215.44,NaN,144.0,249.0,0.679,215704.0,37.27

In [13]:
pd.read_csv('/workspaces/DataSets_CruzKimFranco/Data/Raw/application_record.csv')

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438552,6840104,M,N,Y,0,135000.0,Pensioner,Secondary / secondary special,Separated,House / apartment,-22717,365243,1,0,0,0,NaN,1
438553,6840222,F,N,N,0,103500.0,Working,Secondary / secondary special,Single / not married,House / apartment,-15939,-3007,1,0,0,0,Laborers,1
438554,6841878,F,N,N,0,54000.0,Commercial associate,Higher education,Single / not married,With parents,-8169,-372,1,1,0,0,Sales staff,1
438555,6842765,F,N,Y,0,72000.0,Pensioner,Secondary / secondary special,Married,House / apartment,-21673,365243,1,0,0,0,NaN,2
438556,6842885,F,N,Y,0,121500.0,Working,Secondary / secondary special,Married,House / apartment,-18858,-1201,1,0,1,0,Sales staff,2

In [4]:
df_ventasglobales=pd.read_csv('/workspaces/DataSets_CruzKimFranco/Data/Raw/vgsalesGlobale.csv')
df_vacunas=pd.read_csv('/workspaces/DataSets_CruzKimFranco/Data/Raw/us_state_vaccinations.csv')
df_credit=pd.read_csv('/workspaces/DataSets_CruzKimFranco/Data/Raw/application_record.csv')

In [ ]:
#para mostrar los 5 primeros registros es: df_#nombre.head(5)
#para mostrar los 5 Ãºltimos registros es: df_#nombre.tail(5)
#para mostrar 5 registros aleatorios es: df_#nombre.sample(5)
#para ver el tamaÃ±o de la base se usa .shape (Filas.Columnas)
#para depuraruna base, se puede usar ".drop" seguido de lo que se quiere eliminar, esto eliminarÃ­a toda la fila
#cuando son registros que incluyen NA pero se desea mantener el resto de la informaciÃ³n se puede utilizar el comando
#".fillna(0)" y lo sustituye por cero

## DescripciÃ³n de mis Variables

In [8]:
#las variables que utilizare en el data set de vgsalesGlobales, serÃ¡n:
#Genre: Genero
#Platform: Plataforma
#Global_Sales
#Publisher: estudio que lo desarrollÃ³

#estas variables me ayudarÃ¡n a ver que publicante tiene mayor ventas, en que plataforma y que generÃ³ tienen mÃ¡s Ã©xito en ventas

In [14]:
df_ventasglobales [['Genre','Platform','Global_Sales','Publisher']]

              Genre Platform  Global_Sales   Publisher
0            Sports      Wii         82.74    Nintendo
1          Platform      NES         40.24    Nintendo
2            Racing      Wii         35.82    Nintendo
3            Sports      Wii         33.00    Nintendo
4      Role-Playing       GB         31.37    Nintendo
...             ...      ...           ...         ...
16593      Platform      GBA          0.01       Kemco
16594       Shooter       GC          0.01  Infogrames
16595        Racing      PS2          0.01  Activision
16596        Puzzle       DS          0.01    7G//AMES
16597      Platform      GBA          0.01     Wanadoo

[16598 rows x 4 columns]

In [ ]:
#en mi data set vacunas en EUA, quiero observar que estados tienen una mayor aceptaciÃ³n a la vacuna anti covid,
#se intenta revisar de manera de variable, que estado tenÃ­ a menos resistencia a vacunarse. por ejemplo, el gobierno 
#dio un lote de x miles de vacunas y solamente se utilizaron x porcentaje. con esas mÃ©tricas 
#puedo ver la aceptaciÃ³n por estado e intentar predecir que estado es mÃ¡s propenso a protegerse y optimizar la distribuciÃ³n de vacunas

In [5]:
df_vacunas[['total_vaccinations','total_distributed','location','daily_vaccinations_raw']]

       total_vaccinations  total_distributed location  daily_vaccinations_raw
0                 78134.0           377025.0  Alabama                     NaN
1                 84040.0           378975.0  Alabama                  5906.0
2                 92300.0           435350.0  Alabama                  8260.0
3                100567.0           444650.0  Alabama                  8267.0
4                     NaN                NaN  Alabama                     NaN
...                   ...                ...      ...                     ...
47007                 NaN                NaN  Wyoming                     NaN
47008                 NaN                NaN  Wyoming                     NaN
47009                 NaN                NaN  Wyoming                     NaN
47010                 NaN                NaN  Wyoming                     NaN
47011            847156.0          1246855.0  Wyoming                     NaN

[47012 rows x 4 columns]

In [ ]:
#en el data set de aplicaciones a tarjetas de crÃ©dito, quiero ver que usuarios y variables
#son las que generan mayor ingreso por medio de AMT Income

In [23]:
df_credit[['CODE_GENDER','FLAG_OWN_CAR','FLAG_OWN_REALTY','CNT_CHILDREN','AMT_INCOME_TOTAL','NAME_INCOME_TYPE','NAME_EDUCATION_TYPE']]

,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE
0,M,Y,Y,0,427500.0,Working,Higher education
1,M,Y,Y,0,427500.0,Working,Higher education
2,M,Y,Y,0,112500.0,Working,Secondary / secondary special
3,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special
4,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special
...,...,...,...,...,...,...,...
438552,M,N,Y,0,135000.0,Pensioner,Secondary / secondary special
438553,F,N,N,0,103500.0,Working,Secondary / secondary special
438554,F,N,N,0,54000.0,Commercial associate,Higher education
438555,F,N,Y,0,72000.0,Pensioner,Secondary / secondary special
438556,F,N,Y,0,121500.0,Working,Secondary / secondary special